/* delete disgusting elements */
header,
footer {
    display: none !important;
}

/* Rounded corners on images & other figures */
img,
iframe,
.chart-wrapper {
    border-radius: 5px;
    margin: 1ch 0;
}

/* Altair chart wrapper fixup (manually padded) */
.chart-wrapper {
    padding: 2ch 0.5ch;
    padding-bottom: 0;
    background: white;
}

.vega-embed summary {
    bottom: 16px;
    top: unset;
    right: -8px;
    opacity: 0;
    transition: opacity 0.13s ease-in;
}

.vega-embed .vega-actions::after,
.vega-embed .vega-actions::before {
    top: unset;
    bottom: -14px;
    border-bottom-color: transparent;
    border-top-color: white;
}

.vega-embed .vega-actions {
    top: unset;
    bottom: 64px;
    right: -18px;
}

/* spotify style background */
.main {
    background: linear-gradient(180deg, rgba(52, 52, 52, 1) 0%, rgba(25, 20, 20, 1) 100%);
}

/* spotify colors in every place possible */
body {
    --brand-color: #1DB954;
    --accent-color: #df317f;
}

a,
em {
    color: var(--brand-color);
}

b,
strong {
    color: var(--accent-color);
}

/* Table colors */
tr,
th,
td {
    border: none !important;
}

thead {
    border-bottom: 0.9px solid #1DB954;
}